doctype html
html(lang="en")
	head
		meta
		meta(charset="utf-8")
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="keywords", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title Bites & Bytes
		link(rel='icon', type='image/png', sizes='32x32', href='./images/favicon.png')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600&family=Big+Shoulders+Stencil+Text&family=Inter:wght@400;500;600&display=swap" rel="stylesheet")
		link(rel='stylesheet' href='css/main.css')
			//- include /src/emailer/style.css
		//- style
			include /src/scss/main.css
	body
		table(width="600" border="0" cellpadding="0" cellspacing="0" align="center")
			tr
				td
					.header
						img(src="/images/header.jpg")
						.issue-date-container <span class="issue-counter"> Issue No. 1</span> | <span class="date">March 2023</span>
			tr
				td
					.content-container
						p Dear Colleagues,
						p I am excited to introduce our inaugural tech newsletter, brought to you by SPH Tech. This monthly newsletter serves as a platform to keep everyone in the organisation up-to-date on the activities within Tech Group. Our goal is to demystify the work that we do and enhance collaboration between departments by fostering open and transparent communications.
						p In these newsletters, we will be sharing updates on the projects we're working on, highlighting new technologies and tools, and providing insights into the challenges and opportunities that lie ahead. We believe that by fostering a better understanding of the role technology plays in our organisation, we can work together to drive innovation and success.
						p I encourage you to read the newsletter and reach out to us with any questions or feedback. We're always looking for ways to improve and create value and impact for our organisation.
						p Sincerely,
						.sign-off-container
							.img-container
								img(src="/images/ceo.png")
							.sign-off
								p
									strong Kaythaya Maw
									| <br/>C.T.O
						.subscriber-container
							h4
								a(href="") CLICK HERE&nbsp;
								| TO BECOME A SUBSCRIBER
							p This Newsletter is meant to be sent to the company every month. To continue receiving this newsletter, please remember to opt-in. We don’t want to send you anything you might not agree to receive.
							p Hope to count you among our readers <3
			tr
				td
					.content-container
						.section-header-container
							img(src="/images/number-icon.jpg")
							.section-header
								h2 #Numbers
			tr
				td
					.content-container
						.section-header-container
							img(src="/images/techhighlights-icon.jpg")
							.section-header
								h2 #techhighlights
						.section-card
							.section-image
								img(src="/images/highlight-image-holder.jpg")
							.section-content
								h2 The Research Recap: What UX Research Group Achieved in 2022
								.section-byline
									.byline-img
										img(src="/images/byline-img.jpg", alt="")
									.byline
										p
											strong Basil Lee Jiahao
										p UX Research
								p Meet our UX Research Group: The unsung heroes behind the scenes who work tirelessly to understand our users and create better products.
								p With their dedication to user-centered design, our UX research group plays a critical role in driving innovation and success. Here’s what they achieved in 2022!
								a(href="#") Read more
						.section-card
							.section-image
								img(src="/images/data-img.jpg")
							.section-content
								h2 The Power of Real-Time Data: SPH's New First-Party Analytics Tool
								.section-byline
									.byline-img
										img(src="/images/byline-img-2.jpg", alt="")
									.byline
										p
											strong Loh Li Wei
										p Data Product
								p Meet our UX Research Group: The unsung heroes behind the scenes who work tirelessly to understand our users and create better products.
								p With their dedication to user-centered design, our UX research group plays a critical role in driving innovation and success. Here’s what they achieved in 2022!
								a(href="#") Read more
			tr
				td
					.content-container
						.section-header-container
							img(src="/images/techupdate-icon.jpg")
							.section-header
								h2 #techupdates
						.section-card
							.section-image
								img(src="/images/highlight-image-holder.jpg")
							.section-content
								h2 The Research Recap: What UX Research Group Achieved in 2022
								.section-byline
									.byline-img
										img(src="/images/byline-img.jpg", alt="")
									.byline
										p
											strong Basil Lee Jiahao
										p UX Research
								p Meet our UX Research Group: The unsung heroes behind the scenes who work tirelessly to understand our users and create better products.
								p With their dedication to user-centered design, our UX research group plays a critical role in driving innovation and success. Here’s what they achieved in 2022!
								a(href="#") Read more
						.section-card
							.section-image
								img(src="/images/highlight-image-holder.jpg")
							.section-content
								h2 The Research Recap: What UX Research Group Achieved in 2022
								.section-byline
									.byline-img
										img(src="/images/byline-img.jpg", alt="")
									.byline
										p
											strong Basil Lee Jiahao
										p UX Research
								p Meet our UX Research Group: The unsung heroes behind the scenes who work tirelessly to understand our users and create better products.
								p With their dedication to user-centered design, our UX research group plays a critical role in driving innovation and success. Here’s what they achieved in 2022!
								a(href="#") Read more
			tr
				td
					.content-container
						.section-header-container
							img(src="/images/techtips-icon.jpg")
							.section-header
								h2 #techtips
						.section-card
							.section-image
								img(src="/images/highlight-image-holder.jpg")
							.section-content
								h2 The Research Recap: What UX Research Group Achieved in 2022
								.section-byline
									.byline-img
										img(src="/images/byline-img.jpg", alt="")
									.byline
										p
											strong Basil Lee Jiahao
										p UX Research
								p Meet our UX Research Group: The unsung heroes behind the scenes who work tirelessly to understand our users and create better products.
								p With their dedication to user-centered design, our UX research group plays a critical role in driving innovation and success. Here’s what they achieved in 2022!
								a(href="#") Read more
						.section-card
							.section-image
								img(src="/images/highlight-image-holder.jpg")
							.section-content
								h2 The Research Recap: What UX Research Group Achieved in 2022
								.section-byline
									.byline-img
										img(src="/images/byline-img.jpg", alt="")
									.byline
										p
											strong Basil Lee Jiahao
										p UX Research
								p Meet our UX Research Group: The unsung heroes behind the scenes who work tirelessly to understand our users and create better products.
								p With their dedication to user-centered design, our UX research group plays a critical role in driving innovation and success. Here’s what they achieved in 2022!
								a(href="#") Read more
			tr
				td
					.content-container
						.section-header-container
							img(src="/images/launchpad-icon.jpg")
							.section-header
								h2 #launchpad
			tr
				td
					.footer-container
						p 2023 Bits and Bytes
						p Made with love by SPH Tech
